# DEV
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/starter_template_hono"
BETTER_AUTH_SECRET="your-long-random-secret-at-least-32-chars"
BETTER_AUTH_URL="http://localhost:8787"
CORS_ORIGIN="http://localhost:3000"

